
.artZoomBox
{
	background:url(img/bg01.png) no-repeat left top #f6f6f6;
	max-width:474px;
	padding-top:20px;
	cursor: url(img/zoomout.cur) , pointer;
}
A.artZoom
{
	CURSOR: url(img/zoomin.cur) , pointer;
	COLOR: #ccc;
	PADDING-TOP: 3px;
	POSITION: relative;
}
A.artZoom:hover
{
	TEXT-DECORATION: none
}
A.artZoom SPAN.loading
{
	DISPLAY: block;
	PADDING-LEFT: 20px;
	FONT-SIZE: 9px;
	BACKGROUND: url(img/loading.gif) #fff no-repeat 0px 0px;
	FILTER: alpha(opacity=70);
	MARGIN: 2px 0px;
	WIDTH: 130px;
	LINE-HEIGHT: 16px;
	HEIGHT: 16px;
	opacity: 0.7
}
.artZoomBox
{
	POSITION: relative;
	max-width:474px;
	text-align:center;
	margin:0 auto;
}
.artZoomBox .tool
{
	LEFT: 20px;
	VISIBILITY: hidden;
	POSITION: absolute;
	TOP: 20px
}
.js_hover.artZoomBox .tool
{
	VISIBILITY: visible
}
.artZoomBox .tool A
{
	DISPLAY: block;
	FILTER: alpha(opacity=50);
	FLOAT: left;
	BACKGROUND-IMAGE: url(img/photoTool.gif);
	OVERFLOW: hidden;
	WIDTH: 24px;
	COLOR: #fff;
	TEXT-INDENT: -9999em;
	BACKGROUND-REPEAT: no-repeat;
	HEIGHT: 24px;
	BACKGROUND-COLOR: #3a6ea5;
	TEXT-DECORATION: none;
	opacity: 0.5
}
.artZoomBox .tool A:hover
{
	FILTER: alpha(opacity=80);
	opacity: 0.8
}
.artZoomBox .tool A.hideImg
{
	DISPLAY: none
}
.artZoomBox .tool A.imgLeft
{
	BACKGROUND-POSITION: 0px 0px
}
.artZoomBox .tool A.imgLeft
{
	BACKGROUND-POSITION: -24px 0px
}
.artZoomBox .tool A.viewImg
{
	BACKGROUND-POSITION: 0px -24px
}
.artZoomBox A.maxImgLink
{
	DISPLAY: inline;
	CURSOR: url(img/zoomout.cur) , pointer;
	ZOOM: 1
}
.artZoomBox A.maxImgLink .maxImg
{
	max-width:406px;
	max-height:500px;
}
.artZoomBox A.maxImgLink
{
	display:block;
	background:url(img/bg02.png) no-repeat left bottom;
	max-width:474px;
	padding:0 20px 20px 20px;
}
.small
{
	max-width:240px;
	max-height:180px;
	padding:3px;
	border:1px solid #ccc;
}
a.miniImg
{
	padding-bottom:0;
}