.W_rightModule {
	padding: 30px 15px;
	margin: 0 0 0 1px;
	_zoom: 1;
}
.W_rightModule .title {
	font-size: 14px;
	line-height: 18px;
	padding: 0 0 15px;
	font-weight: 700;
}
.W_rightModule .title .ft12 {
	font-size: 12px;
	margin-left: 2px;
}
.W_rightModule .out_title {
	float: right;
	margin: 0 0 -20px;
	line-height: 17px;
	position: relative;
	z-index: 99;
}
.W_rightModule .more {
	text-align: right;
}
.W_rightModule div.more {
	clear: both;
}
.W_rightModule .more .fl {
	float: left;
}
.W_rightModule .more .fr {
	float: right;
}
.W_rightModule .more .W_vline {
	margin: 0 4px;
}
.W_rightModule .space {
	line-height: 14px;
	height: 10px;
	overflow: hidden;
}
.W_rightModule .zero {
	line-height: 18px;
}
.W_rightModule .right {
	float: right;
	font-size: 12px;
	font-weight: 400;
}
.M_rightNote {
	margin: 0 15px 30px;
	padding: 8px;
	border-width: 1px;
	border-style: solid;
}
.M_rnNobg {
	background-color: transparent;
}
.M_rightNote .icon_warn,.M_rightNote .icon_askS {
	float: left;
}
.M_rightNote .notetxt {
	display: block;
	line-height: 1.4em;
	margin-left: 21px;
}
.W_rightModule .moreBtn {
	margin-bottom: 5px;
}
.W_rightModule .moreBtn .fl {
	float: left;
}
.W_rightModule .moreBtn .fr {
	float: right;
	margin-top: 5px;
}
.W_rightModule .report {
	background: url(../../../images/common/ico.png?id=1321862528265) no-repeat 0 -2176px;
	padding: 0 0 5px 20px;
	line-height: 15px;
}
.W_rightModule .black {
	background: url(../../../images/common/ico.png?id=1321862528265) no-repeat 1px -2356px;
	padding: 0 0 5px 20px;
	line-height: 15px;
}
.W_rightModule .exposure {
	background: url(../../../images/common/ico.png?id=1321862528265) no-repeat 0 -2385px;
	padding: 0 0 5px 20px;
	line-height: 15px;
}
.W_rightModule .feedback {
	background: url(../../../images/common/ico.png?id=1321862528265) no-repeat 0 -2654px;
	padding: 0 0 5px 20px;
	line-height: 15px;
}
.W_other_app {
	width: 170px;
	overflow: hidden;
	clear: both;
}
.W_bubtips {
	margin: 0 0 2px;
}
.W_bubtips .W_arrline_mini {
	display: inline-block;
	overflow: hidden;
}
.W_bubtips div.W_linecolor {
	border-radius: 3px;
	_margin-top: 5px;
	border-style: solid;
	border-width: 1px;
}
.W_bubtips div.W_linecolor a {
	word-break: break-all;
	word-wrap: break-word;
	display: inline-block;
}
.W_bubtips .W_bgcolor {
	padding: 4px 8px;
	line-height: 20px;
}
.W_bubtips .W_bgcolor_arrow {
	height: 7px;
	height: 8px\9;
	margin: -4px 0 0 20px;
	_display: none;
}
.W_bubtips .W_bgcolor_arrow * {
	font-family: "宋体";
	overflow: hidden;
	display: block;
	height: 9px;
	line-height: 17px;
}
.W_bubtips .W_bgcolor_arrow span {
	margin-top: -8px;
}
#js_style_css_module_global_right_module {
	height: 42px;
}
