.atme_filter1
{
	padding-left:20px;
	padding-top:20px;
	clear:both;
	zoom:1;
	_font-family:"宋体";
	-webkit-text-size-adjust:none;
	width:560px;
	height:50px;
}
.atme_filter1 input
{
	border:0;
}
.atme_filter1 .atmef_con1
{
	border-bottom:1px solid #d9d9d9;
}
.atme_filter1 ul.lf
{
	margin-left:10px;
	display:inline;
}
.atme_filter1 ul.lf li
{
	float:left;
	margin:1px 0 0 1px;
	position:relative;
	bottom:-1px;
	text-align:center;
	width:114px;
	height:28px;
	line-height:28px;
}
.atme_filter1 ul.lf li.cur
{
	border:1px solid #D9D9D9;
	border-bottom:0;
	background:#F5F5F5;
	color:#444;
}
.atme_filter1 div.rt
{
	padding-top:8px;
	text-align:right;
	white-space:nowrap;
}
.atme_filter1 .rt .atmef_arr a i
{
	font-weight:bold;
	font-style:normal;
	font-size:10px;
	font-family:"宋体";
	writing-mode:tb-rl;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	color:#0082CB;
	margin-left:2px;
	position:relative;
	top:-1px;
	color:#999;
	display:inline-block;
}
.atme_filter1 .rt .atmef_arr a:hover
{
	text-decoration:none;
	_text-decoration:underline;
}
.atme_filter1 .rt .atmef_arr a:hover em
{
	text-decoration:underline;
}
.atme_filter1 .rt .atmef_arr a:hover i
{
	color:#0082CB;
	_text-decoration:none;
}
.atme_filter1 .rt span
{
	margin-right:10px;
}
.atme_filter1 .atmef_con2
{
	clear:both;
	background:#F5F5F5;
	padding:8px;
}
.atme_filter1 .atmef_con2 th
{
	padding:5px 0 5px 18px;
	color:#999;
	font-weight:normal;
}
.atme_filter1 .atmef_con2 td
{
	padding:5px 30px 5px 0;
}
.atme_filter1 .atmef_con2 td label
{
	padding-left:3px;
	color:#666;
}
.atme_filter1 .atmef_con2 td .btn_normal
{
	margin-left:20px;
}
.atme_filter1 .atmef_con3
{
	padding:55px 0;
	text-align:center;
}
.atme_filter1 .atmef_con3 p
{
	font-size:14px;
	padding:5px 0;
}
.atme_filter1 .atmef_con4
{
	padding:10px 5px;
}
.atme_filter1 .atmef_con4 .more
{
	text-align:right;
}
.atme_filter1 .atmef_con1 .atmef_num1,.atme_filter1 .atmef_con1 .atmef_num2,.newFilter .num_tips1
{
	background:url(img/new_index_bg.png) -286px 0 no-repeat;
	width:26px;
	padding-left:3px;
	height:12px;
	font-size:10px;
	color:#fff;
	text-align:center;
	line-height:11px;
	overflow:hidden;
	font-style:normal;
}
.atme_filter1 .atmef_con1
{
	position:relative;
}
.atme_filter1 .atmef_con1 .atmef_num1,.atme_filter1 .atmef_con1 .atmef_num2
{
	position:absolute;
	top:3px;
	display:block;
}
.atme_filter1 .atmef_con1 .atmef_num1
{
	left:115px;
}
.atme_filter1 .atmef_con1 .atmef_num2
{
	left:240px;
}
.timeHot_feed
{
	float:right;
	margin-right:10px;
	margin-top:6px;
	position:relative;
	z-index:99;
}